<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cube.storm.ui.example"
>
	<application
		android:allowBackup="true"
		android:name=".MainApplication"
	>
		<activity android:name=".ExampleActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".CustomStormActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
		<activity android:name="com.cube.storm.ui.activity.StormActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
		<activity android:name="com.cube.storm.ui.activity.StormWebActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
	</application>
</manifest>
